/*-- Body Reset --*/
body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

/*=== LANDING GRADIENT ===*/
.landing {
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(90deg,#1DA1F2,#981CEB);
}

/*=== HEADINGS & ICONS ===*/
h3 {
  color: white;
  font-size: 6rem;
  font-size: 1.6rem;
  letter-spacing: .8rem;
  padding-top: 7rem;
  text-shadow: .05rem .05rem .05rem rgba(0, 0, 0, .15);
}

h1 {
  color: white;
  font-weight: 900;
  font-size: 6rem;
  letter-spacing: .3rem;
  padding: 1.8rem 0;
  text-shadow: .05rem .05rem .05rem rgba(0, 0, 0, .15);
}

.home {
  padding-bottom: 7rem;
}

.fa-stack.fa-2x {
  font-size: 2.3rem;
}

.fa-stack-2x {
  opacity: .15;
}

.fa-stack-1x {
  opacity: .7;
}

.fa-globe-americas {
  opacity: 1;
  transform: scale(1.25);
}

/*=== NAVIGATION ===*/
.navbar-brand img {
  height: 3rem;
  padding-top: .2rem;
}

.navbar {
  background-image: linear-gradient(90deg,#1DA1F2,#981CEB);
  padding: 3.rem 0 .6rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, .20);
}

.nav-link {
  color: white !important;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: .12rem;
  font-size: 12px;
  text-shadow: .05rem .05rem .05rem rgba(0, 0, 0, .15);
  margin-right: .8rem;
}

.nav-link.active, .nav-link:hover {
  border-bottom: .05rem solid white;
}

h4 {
  font-weight: 300;
}

/*=== CONTENT STYLE ===*/
.fa-asterisk {
  font-size: 1rem;
  margin-bottom: .5rem;
}

.w-100 {
  box-shadow: 2rem 2rem 2rem rgba(0, 0, 0, .20);
}

/*=== FIXED BACKGROUND IMG ===*/
.fixed-background {
  padding: 26rem 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .25);
}

.fixed {
  background-image: url("/resource/image/macbook.jpg");
  position: fixed;
  text-shadow: 0 -1rem 1rem rgba(0, 0, 0, .15);
  padding: 2.5rem 2rem;
}

footer img {
  height: 3.5rem;
  margin: 0 auto 2rem;
}

/* border: solid .2rem red; */
footer a, footer p, .socket a, .socket p {
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
}

a:hover {
  color: white;
  text-decoration: none;
  color: #D1D1D1;
}

ul.social {
  display: inline-flex;
  list-style-type: none;
  max-width: 22rem;
  padding: 0;
  margin: 0 auto;
}

ul .social li {
  margin: 0 auto;
}

ul.social .svg-inline--fa {
  font-size: 2.2rem;
  margin: 1rem;
}

ul.social .svg-inline--fa:hover {
  color: #D1D1D1;
}

.fixed-background {
  overflow: hidden; /*-- Correction for iOS --*/
}

/*=== FOOTER ===*/
footer {
  background-image: linear-gradient(90deg, #981CEB, #1DA1F2);
}
/*=== SOCKET ===*/
.socket {
  background-image: linear-gradient(90deg, #981CEB, #1DA1F2);
  text-align: center;
}

/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {
  h1 {
    font-size: 2.6rem;
  }
  .fa-stack.fa-2x {
    font-size: 8rem;
  }
  .fixed-background {
    padding: 6rem 0;
  }
}

/* Devices under 992px (xl) */
@media (max-width: 991.98px) {
  h1 {
    font-size: 2rem;
  }
  .fa-stack.fa-2x {
    font-size: 1.7rem;
  }
  .fixed-background {
    padding: 7rem 0;
  }
}

/* Devices under 768px (md) */
@media (max-width: 767.98px) {

}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}